#_lg_form_ {
  background-image: url("https://fastloanadvance.com/template/2764/img/bgd03.png") !important;
  background-size: cover;
  background-repeat: no-repeat;
    background-position: top center;
    background-size: auto;
}
.bg_none{
  background: none !important;
}